{% extends 'layout.html' %} {% block title %}{{title}}{% endblock %} {% block head %} {% parent %}
<script src="../bundle.js"></script>
<script src='https://cdn.bootcss.com/jquery/3.2.1/jquery.js'></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

{% endblock %} {% block content %}
<div class="hand" id="thumb">
    <div class="finger"></div>
    <div class="finger"></div>
    <div class="finger"></div>
    <div class="finger"></div>
    <div class="finger thumb"></div>
    <div class="arm"></div>
</div>
<x-clock></x-clock>
<span class="hide" id="animation">+1</span>
<script>
    $.extend({
        thumb: Thumb
    })
    callback();

    function callback() {
        let f = new $.thumb(0, $('#thumb'));
        f.clickAction();
    }
</script>
{% endblock %}